.section{
    margin: auto;
    padding: 0;
}
.banner{
    background: url('images/banner.png') no-repeat;
    background-size: 100%;
    max-width: 1440px;
    min-height: 19.6vw;
    max-height: 70.7vw;
    margin: auto;
    padding-bottom: 7.5vw;
}
.logo{
    width: 15%;
    max-width: 15.529vw;
    min-width: 8.8vw;
    margin: 12.5vw 0 0 7vw;
}
.banner-text-background{
    width: 100%;
    margin: 7.5vw 0 7.5vw 0;
    padding: auto;
    background: rgba(243, 198, 35, 0.7);
}
.event{
    margin: auto;
    width: 55vw;
    height: 7vw;
    background: #F3C623;
}
.tag{
    text-align: center;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;

}
.cell-size{
    width: 4.8vw;
    margin: 0 25px 0 25px;
}

.button{
    height: 6vw;
    width: 47vw;
    min-width: 100px;
    background: #844685;
    border: 0;
    /*Typography*/
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.button:hover {
    box-shadow: 5px 5px #F3C623;
}
.button:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}
.sub-title{
    padding: 2vw 8vw 2vw 8vw;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;
}
.sub-box{
    padding: 0 8vw 0 8vw;
    font-size: 2.4vw;
    color: #333333;
}
.bg-midle{
    background: #551A58;
    color: #FFFFFF;
}
.card-deck{
    margin: auto;
    margin-bottom: 2vw;
}
.card{
    border: none;
    background: #551A58;
}
.baloom{
    border-radius: 100%;
    width: 26.5vw;
}
.border{
    border-radius: 100%;
    margin: auto;
    margin-bottom: 3vw;
    padding-bottom: 0.3vw;
    width: 27.8vw;
    background: #F3C623;
}
.sub-bio{
    height: 6.0vw;
    padding-top: 1vw;
    background: #F3C623;
    /*Typography*/
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    color: #333333;
}
.submit-box{
    margin: auto;
    width: 45vw;
}
.label{
    margin: 0;
    font-size: 1.6vw;
}
.input{
    width: 47vw;
    height: 4vw;
    min-width: 100px;
    margin: 0;
    font-size: 1.6vw;
}
.alert{
    margin: 0 0 5px 0;
    font-size: 1vw;
    color: red;
}
.height{
    height: 640px;
}
.footer{
    height: 40px;
    background: #F3C623;
    padding-top: 12px;
    /*Typography*/
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    text-align: center;
}
/*========================Typography========================*/
.title{
    font-weight: bold;
    font-size: 7vw;
    line-height: 130%;
    text-align: center;
    color: #333333;
}
.event-text{
    text-align: center;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #333333;
}
.timer-head{
    text-align: center;
    font-weight: bold;
    font-size: 2.2vw;
    line-height: 130%;
}
.timer-body{
    text-align: center;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #333333;
}
.contrast{
    color: #844685;
    font-style: normal;
}
.sub-box{
    padding: 2vw 8vw 0 8vw;
    font-size: 2.4vw;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #333333;
}
.sub-midle{
    padding: 6vw 4vw 5vw 4vw;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
}
.text-bio{
    font-size: 2.2vw;
    line-height: 130%;
    text-align: justify;
}
.invite{
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;
}
/*===================Exit Intent Pop Up ===================*/
.modal-custom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: none;
    outline: none;
    z-index: 10;
    background-color: #551A58;;
    width: 600px;
    max-width: 80%;
    padding: 0 30px;
}
.modal-custom.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header-custom {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.modal-header-custom .title-pop-up-custom {
    padding-top: 10px;
    height: 4rem;
}
.modal-header-custom .close-button-custom {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.modal-body-custom {
    padding: 10px 38px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
}
.modal-body-custom p {
    font-weight: normal;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 130%;
}
.table {
    max-width: 250px;
    width: 80%;
    margin: 0 auto;
    color: white;
    margin-bottom: 5%;
    font-family: Roboto;
}
caption {
    caption-side: top;
    text-align: center;
    background-color: #F3C623;;
    color: #551A58;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
}
.table-header {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    text-align: center;
    width: 33%;
    letter-spacing: 0.04em;
}
.table-cell {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    width: 33%;
}
#modal-leave-custom {
    border: 1px solid white;
    width: 100%;
    background-color: #551A58;
    color: white;
    outline: none;
    margin: 10px 0;
    padding: 0px 30px;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
}
#overlay-custom {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay-custom.active {
    pointer-events: all;
    opacity: 1;
}