/*SECTION FRONT*/
.banner{
    background: url('images/banner.png') no-repeat;
    background-size: 100%;
    min-height: 650px;
    max-height: 707px;
}
.logo{
    width: 15%;
    max-width: 155.29px;
    min-width: 88px;
    margin: 14.3% 0 0 11%;
}

.title{
    padding:0;
    margin: 9.3% 11% 0 18%;
    max-width: 930px;
    background: rgba(243, 198, 35, 0.7);

    font-weight: bold;
    font-size: 72px;
    line-height: 130%;
    text-align: center;
    color: #333333;
}

.sub-title{
    position: relative;
    margin: 5% 11% 0 11%;

    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #000000;
}
.contrast{
    color: #844685;
    background: none;
    padding: 0;
    margin: 0;
}
.sub-box{
    position: relative;
    margin: 1.5% 11% 0 11%;
    padding: 0;

    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #333333;
}
.event{
    width: 550px;
    height: 70px;
    padding-top: 6px;
    text-align: center;
    margin: 9.3% 11% 0 30%;
    background: #F3C623;

    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #333333;

}
.timer-box{
    margin: 2% 11% 0 34%;
    font-size: 48px;
    font-weight: bold;
}

.btn-int{
    height: 60px;
    width: 475px;
    margin: 2% 11% 11% 33%;
    background: #844685;
    text-align: center;
    border: 0;
    outline: none;

    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.btn-int:hover {
    box-shadow: 5px 5px #F3C623;
}

.btn-int:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}

/*SECTION MIDLE*/
.row{
    width: 100%;
}

.bg-midle{
    background: #551A58;
}
.sub-midle{
    padding: 5% 0 0 11%;

    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #FFFFFF;
    
}
.baloom-box{
    align-items: center;
    width: 475px;
    margin: 0 10% 10% 10%;
}
.baloom{
    border-radius: 100%;
    margin: 0 ;
    width: 265px;
}
.border{
    border-radius: 100%;
    margin: 0 0 9px 96px;
    padding-bottom: 2.5px;
    width: 278px;
    background: #FFFFFF;
}
.sub-bio{
    width: 475px;
    height: 60px;
    padding-top: 6px;
    background: #F3C623;

    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333333;
}
.text-bio{
    width: 475px;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/*SECTION END*/

.submit-box{
    width: 475px;
    margin: 0 11% 0 33%;

}
.invite{
    position: relative;
    width: 475px;
    padding: 40px 39px 0 39px;
    text-align: center;

    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #000000;
}
.label{
    width: 475px;
    margin: 10px 0 0 0;
    font-size: 24px;
}
.input{
    width: 475px;
    font-size: 24px;
    height: 60px;
    margin: 5px 0 10px 0;

}
.btn-input{
    height: 60px;
    width: 475px;
    margin-top: 20px;
    background: #844685;
    text-align: center;
    border: 0;
    outline: none;

    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.footer{
    height: 40px;
    left: 0px;
    bottom: 0px;
    background: #F3C623;

    font-size: 18px;
    line-height: 130%;
    color: #333333;
    text-align: center;
    padding-top: 12px;

}

.btn-input:hover {
    box-shadow: 5px 5px #F3C623;
}

.btn-input:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}


@media(max-width: 375px){
    .banner{
        min-height: 196px;
        max-height: 540px;
    }
    .logo{
        position: relative;
        width: 88px;
        height: 34px;
        margin: 25px 0 0 39px;
    }

    .title{
        margin: 8.5% 9.11% 10px 9.11%;
        font-size: 24px;
    }

    .sub-title{
        padding: 9.5% 9.11% 0 9.11%;
        padding: 0 0 20px 0;
        font-size: 20px;
    }
    .sub-box{
        padding: 0 9.11% 0 9.11%x;
        margin-bottom: 5%;

        font-size: 14px;
    }
    .event{
        padding-top: 6px;
        margin: 15% 9.11% 4.6% 12.5%;
        height: 40px;
        width: 282px;
        font-size: 20px;
    }

    .btn-int{
        height: 50px;
        width: 282px;
        margin: 0 0 9.11% 12.5%;
        outline: none;
    }

    /*SECTION MIDLE*/

    .sub-midle{
        font-size: 20px;
        padding: 8% 0 0 9.11%;
    }
    .baloom-box{
        width: 282px;
        margin: 4.6% 9.11% 0px 9.11%;
        padding-bottom: 4.6%;
    }
    .baloom{
        margin: 0 ;
        width: 100px;
    }
    .border{
        margin: 0 0 9px 96px;
        padding-bottom: 2.5px;
        width: 106px;
    }
    .sub-bio{
        padding-top: 3px;
        width: 282px;
        height: 30px;
        font-size: 18px;
    }
    .text-bio{
        width: 282px;
        font-size: 14px;
    }

    /*SECTION END*/

    .submit-box{
        width: 282px;
        margin: 0 39px 0 39px;

    }
    .invite{
        position: relative;
        width: 292px;
        padding: 40px 39px 0 39px;
        text-align: center;
        
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
    }
    .label{
        width: 282px;
        margin: 6px 0 0 0;
    }
    .input{
        width: 282px;
        margin: 10px 0 10px 0;

    }
    .btn-input{
        width: 282px;
        height: 50px;
        margin-top: 10px;
        background: #844685;
        text-align: center;
        border: 0;
        outline: none;

        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }

    .footer{
        height: 40px;
        left: 0px;
        bottom: 0px;
        background: #F3C623;
        position: relative;

        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #333333;
        text-align: center;
        padding-top: 12px;

    }

}