/*SECTION FRONT*/
.event-now{
    margin: 2vw auto 2vw auto;
}
.meetup{
    margin: auto;
    padding: 0 25vw 0 25vw;
    font-size: 4.8vw;
    font-weight: bold;
    background-color: #F3C623;
}
.btn-event{
    font-size: 4.2vw;
    font-weight: bold;
    border: 0;
    color: #FFFFFF;
    background-color: #844685;;
}
.cont-btn{
    color: black;
}

.cont-event{
    margin: auto;
    padding: 5vw 22.5vw 5vw 22.5vw;
}
.event{
    margin: 0;
    width: 55vw;
    height: 7vw;
    padding-top: 6px;
    background: #F3C623;

    text-align: center;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #333333;

}
.cont-timer{
    margin: auto;
    padding: 0 27.5vw 5vw 27.5vw;
}
.timer-box{
    font-size: 5vw;
    font-weight: bold;
}
.cont-button{
    margin: auto;
    margin-bottom: 2vw;
    padding: 0 26.5vw 5vw 26.5vw;
}
.btn-int{
    height: 6vw;
    width: 47vw;
    background: #844685;
    text-align: center;
    border: 0;

    font-size: 1.6vw;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.btn-int:hover {
    box-shadow: 5px 5px #F3C623;
}

.btn-int:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}
.banner{
    background: url('images/banner.png') no-repeat;
    background-size: 100%;
    min-height: 19.6vw;
    max-height: 70.7vw;
}

.logo{
    width: 15%;
    max-width: 15.529vw;
    min-width: 8.8vw;
    margin: 12.5vw 0 0 7vw;
}
.banner-text-background{
    padding: 2vw 0 8vw 0;
    margin-top: 7.5vw;
    margin-bottom: 7.5vw;
    width: 100%;
    background: rgba(243, 198, 35, 0.7);
}

.title{/*Corrigir*/
    padding: 0 0vw 0 0vw;
    font-weight: bold;
    font-size: 7vw;
    line-height: 130%;
    text-align: center;
    color: #333333;
}

.sub-title{
    padding: 2vw 8vw 2vw 8vw;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;
}
.contrast{
    color: #844685;
    background: none;
    padding: 0;
    margin: 0;
}
.sub-box{
    padding: 2vw 8vw 2vw 8vw;

    font-size: 2.4vw;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #333333;
}

/*SECTION MIDLE*/
.row{
    margin: auto;
    padding: 0 4.5vw 2vw 4.5vw;
}

.bg-midle{
    background: #551A58;
}
.sub-midle{
    padding: 6vw 4vw 5vw 4vw;

    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #FFFFFF;  
}
.baloom-box{
    align-items: center;
    width: auto;
}
.col-md-6{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.baloom{
    border-radius: 100%;
    width: 26.5vw;
}
.border{
    border-radius: 100%;
    margin: 0 0 9vw 6.6vw;
    padding-bottom: 0.25vw;
    width: 27.8vw;
    background: #FFFFFF;
}
.sub-bio{
    width: 40vw;
    height: 6.0vw;
    padding-top: 6px;
    background: #F3C623;

    font-weight: bold;
    font-size: 3vw;
    line-height: 130%;
    text-align: center;
    color: #333333;
}
.text-bio{
    width: 40vw;
    font-size: 2.8vw;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/*SECTION END*/

.submit-box{
    margin: auto;
    width: 45vw;
}
.form{
    margin: 0;
}
.invite{
    width: 45vw;
    min-width: 300px;
    text-align: center;

    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;
}
.label{
    width: 45vw;
    min-width: 300px;
    font-size: 1.6vw;
}
.input{
    width: 45vw;
    min-width: 300px;
    font-size: 1.6vw;
    height: 4vw;
}
.btn-input{
    height: 4vw;
    width: 45vw;
    min-width: 300px;
    background: #844685;
    border: 0;
    margin-top: 1vw;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.footer{
    height: 40px;
    left: 0px;
    bottom: 0px;
    background: #F3C623;

    font-size: 18px;
    line-height: 130%;
    color: #333333;
    text-align: center;
    padding-top: 12px;

}

.btn-input:hover {
    box-shadow: 5px 5px #F3C623;
}

.btn-input:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}

@media(max-width: 768px){
    .container{
        padding: 2vw 1vw 8vw 1vw;
        margin-top: 7.5vw;
    }
    .cont-button {
        padding-left: 30.5vw;
        padding-right: 30.5vw;
    }
    .cont-timer {
        padding-right: 27vw;
        padding-left: 27vw;
    }
    .btn-int{
        height: 40px;
        width: 300px;
        margin-top: 2vw;
        font-size: 18px;
    }    
    .row{
        margin: auto;
        padding: 0 4.5vw 2vw 4.5vw;
    }
    .baloom-box{
        width: auto;
    }
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .baloom{
        width: 26.5vw;
    }
    .border{
        margin: 0 0 9vw 4.8vw;
        padding-bottom: 0.25vw;
        width: 27.8vw;
    }
    .sub-bio{
        width: 320px;
        height: 5.8vw;
        padding-top: 6px;
        font-size: 2.6vw;
    }
    .text-bio{
        width: 320px;
        font-size: 2.2vw;
    }
    .submit-box{
        margin: auto;
        width: 45vw;  
    }
    .form{
        margin: 0;
    }
    .invite{
        margin-top: 5vw;
    }
    .label{
        width: 45vw;
        font-size: 16px;
        margin-top: 5vw;
        margin-bottom: 0;
    }
    .input{
        width: 45vw;
        font-size: 16px;
        height: 4vw;
    }
    .btn-input{
        height: 40px;
        width: 45vw;
        margin-top: 2vw;
        font-size: 18px;
    }

}
@media(max-width: 540px){
    .cont-timer {
        padding-left: 26.5vw;
        padding-right: 26.5vw;
    }
    .event{
        height: 8vw;
    }
    .cont-button{
        margin: auto;
        margin-bottom: 2vw;
        padding: 0 26.5vw 5vw 26.5vw;
    }
    .btn-int{
        font-size: 18px;
    }
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .border{
        margin: 0 0 9vw 3.65vw;
    }
    .submit-box{
        width: 300px;
    }
    .btn-input{
        height: 40px;
        width: 300px;
        font-size: 18px;
    }
}

@media(max-width: 480px){
    .cont-event{
        margin: auto;
        padding: 5vw 22.5vw 5vw 22.5vw;
    }
    .event{
        width: 55vw;
        height: 11vw;
        font-size: 5vw;
    }
    .cont-timer{
        margin: auto;
        padding: 0 28vw 5vw 28vw;
    }
    .timer-box{
        font-size: 4.8vw;
        font-weight: bold;
    }
    .cont-button{
        margin: auto;
        margin-bottom: 2vw;
        padding: 0 26.5vw 5vw 26.5vw;
    }
    .btn-int{
        height: 30px;
        width: 47vw;
        font-size: 14px;
    }
    .baloom-box{
        width: auto;
    }
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .submit-box{
        width: 300px;
    }

}
@media(max-width: 400px){
    .cont-event{
        margin: auto;
        padding: 5vw 22.5vw 5vw 22.5vw;
    }
    .event{
        width: 55vw;
        height: 10vw;
        font-size: 5vw;
    }
    .cont-timer{
        margin: auto;
        padding: 0 28vw 5vw 28vw;
    }
    .timer-box{
        font-size: 4.8vw;
        font-weight: bold;
    }
    .baloom-box{
        width: auto;
    }
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .cont-button{
        margin: auto;
        margin-bottom: 2vw;
        padding: 0 25vw 5vw 25vw;
    }
    .btn-int{
        height: 30px;
        width: 47vw;
        font-size: 14px;
    }

}
@media(max-width: 375px){
    .cont-event{
        margin: auto;
        padding: 5vw 22.5vw 5vw 22.5vw;
    }
    .event{
        width: 55vw;
        height: 9vw;
        font-size: 5vw;
    }
    .cont-timer{
        margin: auto;
        padding: 0 27.5vw 5vw 27.5vw;
    }
    .timer-box{
        font-size: 4.8vw;
        font-weight: bold;
    }
    .cont-button{
        margin: auto;
        margin-bottom: 2vw;
        padding: 0 23.25vw 5vw 23.25vw;
    }
    .btn-int{
        height: 30px;
        width: 47vw;
        font-size: 14px;
    }

    .row{
        margin: auto;
        padding: 0 4vw 2vw 4vw;
    }
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        }
    .sub-midle{
        padding: 6vw 4vw 5vw 4vw;
        font-size: 4.8vw;
    }
    .baloom-box{
        align-items: center;
        width: 300px;
    }
    .baloom{
        border-radius: 100%;
        width: 200px;
    }
    .border{
        border-radius: 100%;
        margin: 0 0 33.75px 47px;
        padding-bottom: 0.25vw;
        width: 206px;
        background: #FFFFFF;
    }
    .sub-bio{
        width: 300px;
        height: 30px;
        padding-top: 8px;
        font-size:16px;
    }
    .text-bio{
        width: 300px;
        font-size: 14px;
    }

    .submit-box{
        width: 300px;
    }
    .invite{
        max-width: 300px;
        font-size: 22px;
    }
    .form{
        margin: 0;
        padding: 0;
    }
    .label{
        width: 300px;
        font-size: 14px;
    }
    .input{
        width: 100px;
        font-size: 14px;
        height: 30px;
    }
    .btn-input{
        height: 30px;
        width: 47vw;
        font-size: 14px;
    }
}

/* Exit Intent Pop Up */

.modal-custom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: none;
    outline: none;
    z-index: 10;
    background-color: #551A58;;
    width: 600px;
    max-width: 80%;
    padding: 0 30px;
}

.modal-custom.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header-custom {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.modal-header-custom .title-pop-up-custom {
    padding-top: 10px;
    height: 4rem;
}

.modal-header-custom .close-button-custom {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.modal-body-custom {
    padding: 10px 38px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
}

.modal-body-custom p {
    font-weight: normal;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 130%;
}

table {
    max-width: 250px;
    width: 80%;
    margin: 0 auto;
    color: white;
    margin-bottom: 5%;
    font-family: Roboto;
}

caption {
    caption-side: top;
    text-align: center;
    background-color: #F3C623;;
    color: #551A58;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
}

th, td {
    text-align: center;
    width: 33%;
}

th {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;

    letter-spacing: 0.04em;
}

td {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
}

#modal-leave-custom {
    border: 1px solid white;
    width: 100%;
    background-color: #551A58;
    color: white;
    outline: none;
    margin: 10px 0;
    padding: 0px 30px;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
}

#overlay-custom {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay-custom.active {
    pointer-events: all;
    opacity: 1;
}