/*SECTION FRONT*/
.banner{
    background: url('images/banner.png') no-repeat;
    background-size: 100%;
    min-height: 19.6vw;
    max-height: 70.7vw;
}
.logo{
    width: 15%;
    max-width: 15.529vw;
    min-width: 8.8vw;
    margin: 12.5vw 0 0 7vw;
}
.container{
    padding: 2vw 5vw 8vw 5vw;
    margin-top: 7.5vw;
}

.title{/*Corrigir*/
    padding: 0 0vw 0 0vw;
    background: rgba(243, 198, 35, 0.7);
    font-weight: bold;
    font-size: 7vw;
    line-height: 130%;
    text-align: center;
    color: #333333;
}

.sub-title{
    padding: 2vw 8vw 2vw 8vw;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;
}
.contrast{
    color: #844685;
    background: none;
    padding: 0;
    margin: 0;
}
.sub-box{
    padding: 2vw 8vw 2vw 8vw;

    font-size: 2.4vw;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #333333;
}
.cont-event{
    margin: auto;
    padding: 5vw 22.5vw 5vw 22.5vw;
}
.event{
    margin: 0;
    width: 55vw;
    height: 7vw;
    padding-top: 6px;
    background: #F3C623;

    text-align: center;
    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #333333;

}
.cont-timer{
    margin: auto;
    padding: 0 27.5vw 5vw 27.5vw;
}
.timer-box{
    font-size: 4.8vw;
    font-weight: bold;
}
.cont-button{
    margin: auto;
    margin-bottom: 2vw;
    padding: 0 26.5vw 5vw 26.5vw;
}
.btn-int{
    height: 6vw;
    width: 47vw;
    background: #844685;
    text-align: center;
    border: 0;

    font-size: 1.6vw;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.btn-int:hover {
    box-shadow: 5px 5px #F3C623;
}

.btn-int:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}

/*SECTION MIDLE*/
.row{
    margin: auto;
    padding: 0 4.5vw 2vw 4.5vw;
}

.bg-midle{
    background: #551A58;
}
.sub-midle{
    padding: 6vw 4vw 5vw 4vw;

    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #FFFFFF;  
}
.baloom-box{
    align-items: center;
    width: 40vw;
}
.baloom{
    border-radius: 100%;
    width: 26.5vw;
}
.border{
    border-radius: 100%;
    margin: 0 0 9vw 6.6vw;
    padding-bottom: 0.25vw;
    width: 27.8vw;
    background: #FFFFFF;
}
.sub-bio{
    width: 40vw;
    height: 6.0vw;
    padding-top: 6px;
    background: #F3C623;

    font-weight: bold;
    font-size: 3vw;
    line-height: 130%;
    text-align: center;
    color: #333333;
}
.text-bio{
    width: 40vw;
    font-size: 2.8vw;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/*SECTION END*/

.submit-box{
    margin: auto;
    width: 45vw;
    min-width: 450px;

}
.form{
    margin: 0;
}
.invite{
    width: 45vw;
    min-width: 450px;
    text-align: center;

    font-weight: bold;
    font-size: 4.8vw;
    line-height: 130%;
    color: #000000;
}
.label{
    width: 45vw;
    min-width: 450px;
    font-size: 1.6vw;
}
.input{
    width: 45vw;
    min-width: 450px;
    font-size: 1.6vw;
    height: 4vw;
}
.btn-input{
    height: 4vw;
    width: 45vw;
    min-width: 450px;
    background: #844685;
    border: 0;
    
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.footer{
    height: 40px;
    left: 0px;
    bottom: 0px;
    background: #F3C623;

    font-size: 18px;
    line-height: 130%;
    color: #333333;
    text-align: center;
    padding-top: 12px;

}

.btn-input:hover {
    box-shadow: 5px 5px #F3C623;
}

.btn-input:active {
    box-shadow: inset 2px 4px 4px rgba(85, 26, 88, 0.5);
}

@media(max-width: 768px){
    .container{
        padding: 2vw 1vw 8vw 1vw;
        margin-top: 7.5vw;
    }
    .row{
        margin: auto;
        padding: 0 4.5vw 2vw 4.5vw;
    }
    .baloom-box{
        width: 35vw;
        margin: 0 5vw 0 5vw;
    }
    .baloom{
        width: 26.5vw;
    }
    .border{
        margin: 0 0 9vw 6.6vw;
        padding-bottom: 0.25vw;
        width: 27.8vw;
    }
    .sub-bio{
        width: 35vw;
        height: 5.8vw;

        font-size: 2.6vw;
    }
    .text-bio{
        width: 35vw;

        font-size: 2.2vw;
    }
    .submit-box{
        margin: auto;
        width: 45vw;  
    }
    .form{
        margin: 0;
    }
    .invite{
        margin-top: 5vw;
    }
    .label{
        width: 45vw;
        font-size: 16px;
        margin-top: 5vw;
        margin-bottom: 0;
    }
    .input{
        width: 45vw;
        font-size: 16px;
        height: 4vw;
    }
    .btn-input{
        height: 40px;
        width: 450px;
        margin-top: 2vw;
        font-size: 18px;
    }

}
@media(max-width: 480px){
    /*SECTION FRONT*/
    .sub-box{
        padding: 2vw 8vw 0 8vw;
        font-size: 16px;
    }
    .cont-button{
        margin: auto;
        margin-bottom: 2vw;
        padding: 0 29.25vw 5vw 29.25vw;
    }
    .btn-int{
        height: 40px;
        width: 28.2vw;
        min-width: 200px;
        font-size: 14px;

    }
    /*SECTION MIDLE*/
    .row{
        margin: auto;
        padding: 0 16vw 2vw 16vw;
    }
    .sub-midle{
        padding: 6vw 4vw 5vw 4vw;
        font-size: 16px;
    }
    .baloom-box{
        align-items: center;
        width: 40vw;
    }
    .baloom{
        width: 30vw;
    }
    .border{
        border-radius: 100%;
        margin: 0 0 9vw 15.6vw;
        padding-bottom: 0.25vw;
        width: 30vw;
        background: #FFFFFF;
    }
    .sub-bio{
        width: 60vw;
        height: 6.0vw;
        min-width: 200px;
        min-height: 40px;
        padding-top: 6px;
        font-size: 18px;
    }
    .text-bio{
        width: 60vw;
        font-size: 16px;
    }

    /*SECTION END*/

    .submit-box{
        margin: auto;
        width: 200px;
    }
    .invite{
        width: 200px;
        font-size: 18px;
    }
    .label{
        width: 150px;
        font-size: 14px;
    }
    .input{
        width: 150px;
        font-size: 14px;
        height: 30px;
    }
    .btn-input{
        height: 30px;
        width: 150px;
        font-size: 16px;
    }

}