body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container-custom {
    /* Set a specific height */
    height: 100%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media(min-width: 280px){
    .container-custom {
        background-image: url("images/thank-you-bg.png");
    }

    .thank-you-msg {
        padding: 5% 2.5%;
        font-size: 8.5vw;
    }

    .email-msg {
        padding-top: 5%;
    }

    #top-msg {
        font-size: 4vw;
        height: 50%;
    }

    #bottom-msg {
        font-size: 4vw;
        height: 50%;
    }

    .thank-you-msg p {
        height: 80%;
        margin-top: 2.5%;
    }
}

@media(min-width: 460px) {
    .container-custom {
        background-image: url("images/thank-you-bg.png");
    }

    .thank-you-msg {
        margin: 0 10%;
        font-size: 4.2vw;
    }

    .email-msg {
        padding-top: 2%;
        margin: 0 10%;
    }

    #top-msg {
        font-size: 2.5vw;
    }

    #bottom-msg {
        font-size: 2.5vw;
    }

    .thank-you-msg p {
        height: 80%;
        padding-bottom: 10%;
    }
}

@media(min-width: 900px) {
    .container-custom {
        background-image: url("images/thank-you-desktop.png");
    }

    .thank-you-msg {
        margin: 0 10%;
        font-size: 4vw;
    }

    .email-msg {
        padding-top: 2%;
        margin: 0 10%;
    }

    #top-msg {
        font-size: 2vw;
    }

    #bottom-msg {
        font-size: 2vw;
    }

    .thank-you-msg p {
        height: 80%;
        padding-bottom: 15%;
    }
}

.logo img {
    height: 96px;
    margin-top: 5%;
    margin-left: 5%;
}

.logo {
    height: 25%;
}

/* Middle Section */

.main-section {
    height: 50%;
}

.thank-you-msg {
    height: 55%;
    display: flex;
    align-items: center;
    background: #551A58;

    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    text-align: center;

    color: #FFFFFF;
}

.email-msg {
    height: 45%;
    background: rgba(255, 255, 255, 0.7);
}

#top-msg {
    font-style: normal;
    font-weight: normal;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.04em;

    color: #333333;
}

#bottom-msg {
    font-style: normal;
    font-weight: bold;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.04em;

    color: #333333;
}

/* Footer Section */

.footer-section {
    height: 25%;
}

.footer-section p {
    display: block;
}

section .image-links {
    align-items: center;
    width: 360px;
}

.btn {
    margin: 10px auto;
    max-width: 320px;
    background: #F3C623;
}